<div class='track-list'>
  {{#each track in model}}
    <div class='track-item'  {{action 'playTrack' track}}>
      {{image-loader class='track-img' src=track.image}}
      <div class="track-detail-container">
        <div class='track-title'> {{track.name}}</div>
        <div class='track-sub-title'> {{track.artist}}</div>
      </div>
    </div>
  {{/each}}
</div>

{{youtube-player videoId=videoId}}

{{outlet}}
